@model Student

<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <h5>First Name:</h5>
            <p>@Model.FirstName</p>
        </div>
        <div class="col-md-4">
            <h5>Last Name:</h5>
            <p>@Model.LastName</p>
        </div>
        <div class="col-md-4">
            <h5>Email:</h5>
            <p>@Model.Email</p>
        </div>
    </div>
</div>
